<form action="" method="POST">

    {% csrf_token %}


    <label for="username" >username</label>
    <input type="text" name="username" placeholder="username">
    <br>
    
    
    <label for="password">password</label>
    <input type="password" name="password" placeholder="password">
    <br>

    <label for="email">email</label>
    <input type="email" name="email" placeholder="email">
    <br>
    
    <label for="phone">phone</label>
    <input type="text" name="phone" placeholder="phone">
    <br>
    

    <button type="submit">Save</button>
</form>

